graft vendor_llama_cpp_pydist/llama.cpp
prune vendor_llama_cpp_pydist/llama.cpp/.git
prune vendor_llama_cpp_pydist/llama.cpp/models
prune vendor_llama_cpp_pydist/llama.cpp/examples
# recursive-include vendor_llama_cpp_pydist/llama.cpp *

include CHANGELOG.md
